<div class="wrap" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 class="mt-4 p-2"><span class="fw-bold" style="color: indigo;"><%= title %></h1>
    <div class="tenor-gif-embed w-50" data-postid="4921543" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%"><a href="https://tenor.com/view/jojo-joseph-oh-no-shocked-surprised-gif-4921543">Jojo Joseph GIF</a>from <a href="https://tenor.com/search/jojo-gifs">Jojo GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </div>