<div class="wrap" style="width: 100%;">
  <h1 class="mt-4 text-center fw-bold p-2 title">JOJOWi</h1>
  <h2 class="text-center title-p fw-light">Simple JoJo's Bizarre Adventure Stands and Character Encyclopedia</h2>
  <div class="img-container" style="display: flex; flex-direction: column; align-items: center; justify-content:    center;">
    <img src="/img/755394.jpg" class="w-75 mt-2 object-fit-cover" alt="">
  </div>

  <div class="about-container p-2">
    <h2 class="mt-5 about-us" style="color: indigo;">About Us</h2>
    <p class="mt-2 about-us-p">JOJOWi stands for JoJo Wikipedia, at JOJOWi, we're dedicated to providing you profile of stands and character in JoJo's Bizarre Adventure (JJBA). Whether you're a long-time fan or just starting to explore the world of JoJo, you'll find everything you need to know right here.</p>
  </div>

  <div class="about-container p-2">
    <h2 class= "mt-5 about-us" style="color: indigo;">Characters</h2>
    <p class="mt-2 about-us-p">JOJOWi stands for JoJo Wikipedia, at JOJOWi, we're dedicated to providing you profile of stands and character in JoJo's Bizarre Adventure (JJBA). Whether you're a long-time fan or just starting to explore the world of JoJo, you'll find everything you need to know right here.</p>
  </div>
  
  




</div>