<div class="wrap" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <h1 class="mt-4 p-2"><span class="fw-bold" style="color: indigo;">JOJOWI</span> : Simple JoJo's Bizarre Adventure Stands and Character Encyclopedia</h1>
  <img src="/img/755394.jpg" class="w-75 mt-2 object-fit-cover" alt="">
</div>