<div class="row">
  <% if (!datas) { %>
   <h1>Data Not Found</h1>
  <% } else {%>
    <% datas.forEach(data => { %>
    <div class="col-md-4 col-12 mt-4 w-50">
        <div class="card">
          <img src="https://jojos-bizarre-api.netlify.app/assets/<%= data.image %>" class="pt-2 card-img-top m-auto" style="width: 200px; height: 200px; float: left; object-fit: contain;" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title"><a class="text-decoration-none" href="/stand/<%= data.id %>"><%= data.name %></a></h5>
            <p class="card-text"><%= data.chapter %></p>
          </div>
        </div>
    </div>
    <% }) %>
  <% } %>

</div>
